In [1]:
import pandas as pd
import time

In [2]:
df = pd.read_csv("sales_data_sample.csv", encoding='Latin-1').set_index("ORDERNUMBER")

In [3]:
df.columns[:12]

Index(['QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER', 'SALES', 'ORDERDATE',
       'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID', 'PRODUCTLINE', 'MSRP',
       'PRODUCTCODE'],
      dtype='object')

In [4]:
df_orders = df.iloc[:, : 13]
df_orders

,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME
ORDERNUMBER,,,,,,,,,,,,,
10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.
10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables
10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers
10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com
10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,Ships,54,S72_3212,Euro Shopping Channel
10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,Ships,54,S72_3212,"Oulu Toy Supplies, Inc."
10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,Ships,54,S72_3212,Euro Shopping Channel
10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,Ships,54,S72_3212,Alpha Cognac
10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,Ships,54,S72_3212,Gifts4AllAges.com

In [5]:
df_unique_customers = df.iloc[:, 12:]
df_unique_customers = df_unique_customers.groupby("CUSTOMERNAME").first()
df_unique_customers

,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
CUSTOMERNAME,,,,,,,,,,,
"AV Stores, Co.",(171) 555-1555,Fauntleroy Circus,None,Manchester,None,EC2 5NT,UK,EMEA,Ashworth,Victoria,Medium
Alpha Cognac,61.77.6555,1 rue Alsace-Lorraine,None,Toulouse,None,31000,France,EMEA,Roulet,Annette,Medium
Amica Models & Co.,011-4988555,Via Monte Bianco 34,None,Torino,None,10100,Italy,EMEA,Accorti,Paolo,Large
"Anna's Decorations, Ltd",02 9936 8555,201 Miller Street,Level 15,North Sydney,NSW,2060,Australia,APAC,O'Hara,Anna,Small
Atelier graphique,40.32.2555,"54, rue Royale",None,Nantes,None,44000,France,EMEA,Schmitt,Carine,Medium
...,...,...,...,...,...,...,...,...,...,...,...
"Vida Sport, Ltd",0897-034555,Grenzacherweg 237,None,Gensve,None,1203,Switzerland,EMEA,Holz,Michael,Medium
Vitachrome Inc.,2125551500,2678 Kingston Rd.,Suite 101,NYC,NY,10022,USA,None,Frick,Michael,Small
"Volvo Model Replicas, Co",0921-12 3555,BerguvsvÂ„gen 8,None,Lule,None,S-958 22,Sweden,EMEA,Berglund,Christina,Large
West Coast Collectables Co.,3105553722,3675 Furth Circle,None,Burbank,CA,94019,USA,None,Thompson,Steve,Medium
giftsbymail.co.uk,(198) 555-8888,Garden House Crowther Way,None,Cowes,Isle of Wight,PO31 7PJ,UK,EMEA,Bennett,Helen,Medium

In [6]:
df_unique_customers_unindexed = df_unique_customers.reset_index()

Now that we have customers and orders, lets test join

In [7]:
start = time.time()
for i in range(10000):
    df_combined = df_orders.join(df_unique_customers, on="CUSTOMERNAME", how="left")
end = time.time()
total_time = end - start
print("Time for 1000 joins")
print(end - start)
print("average time per join")
print(total_time / 10000)

Time for 1000 joins
14.382087469100952
average time per join
0.0014382087469100953

In [8]:
df_combined

,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
ORDERNUMBER,,,,,,,,,,,,,,,,,,,,,
10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,Motorcycles,...,897 Long Airport Avenue,None,NYC,NY,10022,USA,None,Yu,Kwai,Small
10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,Motorcycles,...,59 rue de l'Abbaye,None,Reims,None,51100,France,EMEA,Henriot,Paul,Small
10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,Motorcycles,...,27 rue du Colonel Pierre Avia,None,Paris,None,75508,France,EMEA,Da Cunha,Daniel,Medium
10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,Motorcycles,...,78934 Hillside Dr.,None,Pasadena,CA,90003,USA,None,Young,Julie,Medium
10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,Motorcycles,...,7734 Strong St.,None,San Francisco,CA,None,USA,None,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,Ships,...,"C/ Moralzarzal, 86",None,Madrid,None,28034,Spain,EMEA,Freyre,Diego,Large
10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,Ships,...,Torikatu 38,None,Oulu,None,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,Ships,...,"C/ Moralzarzal, 86",None,Madrid,None,28034,Spain,EMEA,Freyre,Diego,Large
10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,Ships,...,1 rue Alsace-Lorraine,None,Toulouse,None,31000,France,EMEA,Roulet,Annette,Medium
10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,Ships,...,8616 Spinnaker Dr.,None,Boston,MA,51003,USA,None,Yoshido,Juri,Medium

In [9]:
start = time.time()
for i in range(10000):
    df_combined = df_orders.merge(df_unique_customers, how='left', on="CUSTOMERNAME")
end = time.time()
total_time = end - start
print("Time for 1000 joins")
print(end - start)
print("average time per join")
print(total_time / 10000)

Time for 1000 joins
15.502150535583496
average time per join
0.0015502150535583496

In [10]:
start = time.time()
for i in range(10000):
    df_combined = df_orders.merge(df_unique_customers_unindexed, how='left', on="CUSTOMERNAME")
end = time.time()
total_time = end - start
print("Time for 1000 joins")
print(end - start)
print("average time per join")
print(total_time / 10000)

Time for 1000 joins
18.165745735168457
average time per join
0.0018165745735168456

In [11]:
start = time.time()
for i in range(10000):
    df_combined = df_orders.merge(df_unique_customers, how='left', left_on="CUSTOMERNAME", right_index=True)
end = time.time()
total_time = end - start
print("Time for 1000 joins")
print(end - start)
print("average time per join")
print(total_time / 10000)

Time for 1000 joins
14.282087564468384
average time per join
0.0014282087564468384

In [12]:
start = time.time()
for i in range(10000):
    df_combined = df_orders.merge(df_unique_customers_unindexed, how='left', left_on="CUSTOMERNAME", right_on="CUSTOMERNAME")
end = time.time()
total_time = end - start
print("Time for 1000 joins")
print(end - start)
print("average time per join")
print(total_time / 10000)

Time for 1000 joins
17.75957202911377
average time per join
0.001775957202911377